
@use "../abstracts" as *;
@use "sass:map";

@if map.has-key($breakpoints, large) {

    .large-screens-only {
        display: none;
        @include mq(medium) {
            display: block;
        }
    }

}

@if map.has-key($breakpoints, medium) {

    .small-screens-only {
        display: none;
        @include mq(medium, down) {
            display: block;
        }
    }

}
