
@use "../abstracts" as *;

@each $size-name, $size-value in $sizes {

    /*
    *
    * MARGINS
    *
    */
    .m {
        &-#{$size-name} {
            margin: $size-value;
        }
        &l-#{$size-name} {
            margin-left: $size-value;
        }
        &r-#{$size-name} {
            margin-right: $size-value;
        }
        &t-#{$size-name} {
            margin-top: $size-value;
        }
        &b-#{$size-name} {
            margin-bottom: $size-value;
        }
        &x-#{$size-name} {
            margin-left: $size-value;
            margin-right: $size-value;
        }
        &y-#{$size-name} {
            margin-top: $size-value;
            margin-bottom: $size-value;
        }
    }

    @if $size-name != auto { 

        /*
        *
        * PADDINGS
        *
        */
        .p {
            &-#{$size-name} {
                padding: $size-value;
            }
            &l-#{$size-name} {
                padding-left: $size-value;
            }
            &r-#{$size-name} {
                padding-right: $size-value;
            }
            &t-#{$size-name} {
                padding-top: $size-value;
            }
            &b-#{$size-name} {
                padding-bottom: $size-value;
            }
            &x-#{$size-name} {
                padding-left: $size-value;
                padding-right: $size-value;
            }
            &y-#{$size-name} {
                padding-top: $size-value;
                padding-bottom: $size-value;
            }
        }

        /*
        *
        * GAPS
        *
        */
        .gap {
            &-#{$size-name} {
                gap: $size-value;
            }
    
            &x-#{$size-name} {
                row-gap: $size-value;
            }
            
            &y-#{$size-name} {
                column-gap: $size-value;
            }

        }
    }
}
