@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/montserrat-medium.woff2") format("woff2"),
         url("../assets/fonts/montserrat-medium.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-display: swap;
    src: url("../assets/fonts/montserrat-semibold.woff2") format("woff2"),
         url("../assets/fonts/montserrat-semibold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-display: swap;
    src: url("../assets/fonts/montserrat-bold.woff2") format("woff2"),
         url("../assets/fonts/montserrat-bold.woff") format("woff");
}