
@use "../abstracts" as *;

body {
    font-family: $font-family-base;
    font-size: $fs-300;
    background-color: $color-neutral-100;
    line-height: 1.6;
    color: $color-neutral-600;
    font-weight: $fs-700;
}

/*! purgecss start ignore */
body.scroll-locked {
    overflow-y: hidden;
}
/*! purgecss end ignore */

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight-semi-bold;
}

p {
    max-width: 60ch;
}

ul[role="list"] {
    list-style: none;
}

/*! purgecss start ignore */
.logo-white {
    * {
        fill: $color-neutral-100;
    }
}
/*! purgecss end ignore */

::selection,
::-moz-selection {
    background-color: $color-primary-400;
    color: $color-neutral-100
}
