@use "../abstracts" as *;

.hero {
    @include center(flex);
    background-image: url("../assets/img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 500%;
    min-height: 75vh;
    min-height: 75dvh;
    
    @include mq(medium) {
        background-size: cover;
        // -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%); 
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
    };
}

.services {
    .services-item {
        width: 400px;
    }
}

.testimonials {
    .testimonials-grid {
        display: grid;
        gap: $size-4;
        grid-template-areas: "t1"
                             "t2"
                             "t3"
                             "t4";
        @include mq(medium) {
            grid-template-areas: "t1 t1 t2"
                                 "t4 t3 t3";
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        
        .testimonial {
            position: relative;
            z-index: 1;
            overflow: hidden;
            @include center(flex);
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    grid-area: t#{$i};
                }
            }

            .testimonial-header {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: $size-3;
            }

            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 100%;
                border: 1px solid $color-neutral-400;
            }

            &.quote-open::before,
            &.quote-close::before {
                font-size: 18rem;
                position: absolute;
                opacity: 0.2;
                z-index: -1;
                right: 15%;
                top: -6rem;
            }

            &.quote-open::before {
                content: "“";
            }

            &.quote-close::before {
                content: "”";
            }
        }
    }
}
