@use "../abstracts" as *;

.hero {
    @include flex-center();
    background-image: url("../assets/img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: 500%;
    min-height: 70vh;

    @include mq(medium) {
        background-size: cover;
    };
}
