
/*
 *
 * GLOBAL
 *
*/
$-clr-gray-100: hsl(0, 0%, 100%);
$-clr-gray-200: hsl(0, 0%, 90%);
$-clr-gray-300: hsl(0, 0%, 80%);
$-clr-gray-400: hsl(0, 0%, 70%);
$-clr-gray-500: hsl(0, 0%, 60%);
$-clr-gray-600: hsl(0, 0%, 50%);
$-clr-gray-700: hsl(0, 0%, 40%);
$-clr-gray-800: hsl(0, 0%, 30%);
$-clr-gray-900: hsl(0, 0%, 0%);
$-clr-orange-100: hsl(45, 96%, 95%);
$-clr-orange-200: hsl(45, 96%, 88%);
$-clr-orange-300: hsl(45, 96%, 76%);
$-clr-orange-400: hsl(45, 96%, 62%);
$-clr-orange-500: hsl(45, 96%, 56%);
$-clr-orange-600: hsl(45, 96%, 50%);
$-clr-orange-700: hsl(45, 96%, 45%);
$-clr-orange-800: hsl(45, 96%, 40%);
$-clr-orange-900: hsl(45, 96%, 35%);
$-clr-green-100: hsl(91, 37%, 85%);
$-clr-green-200: hsl(91, 37%, 80%);
$-clr-green-300: hsl(91, 37%, 70%);
$-clr-green-400: hsl(91, 37%, 60%);
$-clr-green-500: hsl(91, 37%, 50%);
$-clr-green-600: hsl(91, 37%, 40%);
$-clr-green-700: hsl(91, 37%, 30%);
$-clr-green-800: hsl(91, 37%, 20%);
$-clr-green-900: hsl(91, 37%, 15%);

$colors: (
    "neutral": (
        "100": $-clr-gray-100,
        "200": $-clr-gray-200,
        "300": $-clr-gray-300,
        "400": $-clr-gray-400,
        "500": $-clr-gray-500,
        "600": $-clr-gray-600,
        "700": $-clr-gray-700,
        "800": $-clr-gray-800,
        "900": $-clr-gray-900,
    ),
    "accent": (
        "100": $-clr-orange-100,
        "200": $-clr-orange-200,
        "300": $-clr-orange-300,
        "400": $-clr-orange-400,
        "500": $-clr-orange-500,
        "600": $-clr-orange-600,
        "700": $-clr-orange-700,
        "800": $-clr-orange-800,
        "900": $-clr-orange-900,
    ),
    "primary": (
        "100": $-clr-green-100,
        "200": $-clr-green-200,
        "300": $-clr-green-300,
        "400": $-clr-green-400,
        "500": $-clr-green-500,
        "600": $-clr-green-600,
        "700": $-clr-green-700,
        "800": $-clr-green-800,
        "900": $-clr-green-900,
    ),
);

/*
 *
 * CONTEXTUAL
 *
*/
$color-neutral-100: var(--clr-neutral-100);
$color-neutral-200: var(--clr-neutral-200);
$color-neutral-300: var(--clr-neutral-300);
$color-neutral-400: var(--clr-neutral-400);
$color-neutral-500: var(--clr-neutral-500);
$color-neutral-600: var(--clr-neutral-600);
$color-neutral-700: var(--clr-neutral-700);
$color-neutral-800: var(--clr-neutral-800);
$color-neutral-900: var(--clr-neutral-900);

$color-accent-100: var(--clr-accent-100);
$color-accent-200: var(--clr-accent-200);
$color-accent-300: var(--clr-accent-300);
$color-accent-400: var(--clr-accent-400);
$color-accent-500: var(--clr-accent-500);
$color-accent-600: var(--clr-accent-600);
$color-accent-700: var(--clr-accent-700);
$color-accent-800: var(--clr-accent-800);
$color-accent-900: var(--clr-accent-900);

$color-primary-100: var(--clr-primary-100);
$color-primary-200: var(--clr-primary-200);
$color-primary-300: var(--clr-primary-300);
$color-primary-400: var(--clr-primary-400);
$color-primary-500: var(--clr-primary-500);
$color-primary-600: var(--clr-primary-600);
$color-primary-700: var(--clr-primary-700);
$color-primary-800: var(--clr-primary-800);
$color-primary-900: var(--clr-primary-900);
