
@use "sass:map";
@use "sass:meta";
@use "sass:math";
@use "breakpoints" as *;

@mixin center($display) {
    display: $display;
    justify-content: center;
    align-items: center;
}

@mixin inset($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin mq($size, $orientation: up) {
    @if map.has-key($breakpoints, $size) {

        $breakpoint: map.get($breakpoints, $size);
        @if $orientation == down {
            @media screen and (max-width: $breakpoint) {
                @content;
            }
        } @else {
            @media screen and (min-width: $breakpoint) {
                @content;
            }
        }

    } @else if meta.type-of($size) == number {

        @if math.is-unitless($size) {
            @error "When using a number with mq(), make sure to include a unit";
        } @else {
            @if $orientation == down {
                @media screen and (max-width: $size) {
                    @content;
                }
            } @else {
                @media screen and (min-width: $size) {
                    @content;
                }
            }
        }

    } @else {
        @error "The keyword #{$size} is not in the $breakpoints map";
    }
}
