<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="<%= require('../assets/img/icons/favicon-16x16.png') %>" sizes="16x16">
    <link rel="icon" type="image/png" href="<%= require('../assets/img/icons/favicon-32x32.png') %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= require('../assets/img/icons/android-chrome-192x192.png') %>" sizes="192x192">
    <link rel="apple-touch-icon" href="<%= require('../assets/img/icons/apple-touch-icon.png') %>">
    <title>HealthBar</title>
</head>
<body>


    <!-- HEADER/NAV -->
    <%= require('html-loader!../includes/header.html').default %>


    <main id="main">
        <!-- HERO -->
        <section id="hero">
            <div class="container--lg">
                <div class="hero__box">
                    <h1 class="text-primary-800 fs-700 fw-bold">
                        Comida gostosa também pode ser saudável
                    </h1>
                    <p class="mt-4">
                        Os serviços da HealthBar fazem mais que entregar alimentos. Nós estimulamos as pessoas a desenvolver e melhorar o bem-estar e a qualidade de vida.
                    </p>
                    <a href="#" class="button mt-7">Assine Já</a>
                </div>
            </div>
        </section>


        <!-- SERVIÇOS -->
        <section id="services" class="text-center">
            <div class="container--lg">
                <h1 class="text-primary-700 fs-600">Feito por profissionais</h1>
                <p class="text-neutral-500 mt-2 mx-auto">Oferecemos os melhores serviços do ramo alimentício</p>

                <div class="wrap flex-center gap-5 mt-10">
                    <div class="services__item | px-5 py-4">
                        <img data-src="<%= require('../assets/img/salad.png') %>" class="mx-auto mb-6" width="100" height="100" alt="Salad icons created by Atif Arshad - Flaticon">
                        <h2 class="text-primary-600 fs-500 mb-3">Foco em qualidade</h2>
                        <p class="fs-300">Nossos processos de segurança garantem que os alimentos estejam sempre preservados em seu melhor estado</p>
                    </div>

                    <div class="services__item | px-5 py-4">
                        <img data-src="<%= require('../assets/img/chef-hat.png') %>"class="mx-auto mb-7"  width="95" height="95" alt="Chef hat icons created by Freepik - Flaticon">
                        <h2 class="text-primary-600 fs-500 mb-3">Chefes e nutricionistas</h2>
                        <p class="fs-300">Profissionais especializados asseguram pratos deliciosos e saudáveis conforme a necessidade de cada pessoa</p>
                    </div>

                    <div class="services__item | px-5 py-4">
                        <img data-src="<%= require('../assets/img/truck.png') %>" class="mx-auto mb-3" width="110" height="110" alt="Delivery icons created by karthiks_18 - Flaticon">
                        <h2 class="text-primary-600 fs-500 mb-3">Entrega rápida e confiável</h2>
                        <p class="fs-300">Certificamos a entrega a domicílio em todo o país com nosso sistema de entregas próprio, agilizando o processo</p>
                    </div>
                </div>
            </div>
        </section>


        <!-- O QUE TEM NA CAIXA -->
        <section id="box-contents">
            <div class="container">
                <div class="box-contents__columns even-columns--reverse flex-center">
                    <div>
                        <h1 class="fs-600 text-primary-700 text-center">O que vem na caixa?</h1>
                        <ul role="list" class="stack gap-5 mt-9">
                            <li>
                                <span class="text-primary-500 inline-block mr-2">&#x2713;</span> 
                                Deliciosos e frescos ingredientes prontos para preparo
                            </li>
                            <li>
                                <span class="text-primary-500 inline-block mr-2">&#x2713;</span> 
                                Kits de comida convenientes para qualquer hora
                            </li>
                            <li>
                                <span class="text-primary-500 inline-block mr-2">&#x2713;</span> 
                                Receitas práticas e fáceis de se seguir
                            </li>
                            <li>
                                <span class="text-primary-500 inline-block mr-2">&#x2713;</span> 
                                Uma experiência de cozinha inesquecível
                            </li>
                            <li>
                                <span class="text-primary-500 inline-block mr-2">&#x2713;</span> 
                                O estímulo para hábitos de alimentação saudáveis
                            </li>
                        </ul>
                        <a href="#" class="button--block mt-7">Ver planos</a>
                    </div>
                    <div>
                        <img class="shadow-2" data-src="<%= require('../assets/img/caixa.jpg') %>" alt="Caixa de papelão com legumes e verduras">
                    </div>
                </div>

            </div>
        </section>


        <!-- PRATOS -->
        <section id="dishes" class="bg-primary-400">
                <div class="text-center">
                    <h1 class="text-neutral-100 fs-600">Deleite-se com nossos melhores pratos</h1>
                    <p class="text-neutral-100 mt-2 mx-auto">Uma prova de qualidade nutritiva</p>
                </div>

                <div class="dishes-wrapper">
                    <button class="dish-slider-button-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path d="M655 976 255 576l400-400 56 57-343 343 343 343-56 57Z"/></svg>
                    </button>

                    <div class="dish-slider swiper | mt-11">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide | bg-neutral-100 shadow-2">
                                <div class="even-columns flex-center">
                                    <div class="swiper-image-wrapper | shadow-3">
                                        <img src="<%= require('../assets/img/arroz-de-baga-com-proteina-de-tofu-e-manjericao-frito.jpg') %>" alt="Arroz de baga com proteína de tofu e manjericão frito">
                                    </div>
                                    <div class="p-8">
                                        <h1 class="fs-500 text-primary-700 mb-4">Arroz de baga com tofu e manjericão</h1>
                                        <p class="fs-300 mb-8">Uma mistura harmoniosa de sabores e texturas neste prato vegano, com o arroz de baga, o tofu cremoso e o aroma fresco do manjericão.</p>
                                        <div class="flex-center gap-5">
                                            <a href="#" class="button">Escolher</a>
                                            <span class="fs-500 text-primary-500 mr-auto">R$25,00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="swiper-slide | bg-neutral-100 shadow-2">
                                <div class="even-columns flex-center">
                                    <div class="swiper-image-wrapper | shadow-3">
                                        <img src="<%= require('../assets/img/macarrao-com-molho-de-tomate-com-salsicha.jpg') %>" alt="Macarrão com molho de tomate com salsicha">
                                    </div>
                                    <div class="p-8">
                                        <h1 class="fs-500 text-primary-700 mb-4">Macarrão com molho de tomate e salsicha</h1>
                                        <p class="fs-300 mb-8">Um clássico reconfortante: o macarrão al dente coberto com um molho rico de tomate e salsicha, perfeito para uma refeição rápida e saborosa.</p>
                                        <div class="flex-center gap-5">
                                            <a href="#" class="button">Escolher</a>
                                            <span class="fs-500 text-primary-500 mr-auto">R$20,00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="swiper-slide | bg-neutral-100 shadow-2">
                                <div class="even-columns flex-center">
                                    <div class="swiper-image-wrapper | shadow-3">
                                        <img src="<%= require('../assets/img/peito-de-frango-grelhado-e-salada-de-legumes.jpg') %>" alt="Peito de frango grelhado e salada de legumes">
                                    </div>
                                    <div class="p-8">
                                        <h1 class="fs-500 text-primary-700 mb-4">Peito de frango grelhado com legumes</h1>
                                        <p class="fs-300 mb-8">Uma opção saudável e saborosa: peito de frango suculento grelhado e legumes frescos, perfeitos para uma refeição equilibrada.</p>
                                        <div class="flex-center gap-5">
                                            <a href="#" class="button">Escolher</a>
                                            <span class="fs-500 text-primary-500 mr-auto">R$24,00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="swiper-slide | bg-neutral-100 shadow-2">
                                <div class="even-columns flex-center">
                                    <div class="swiper-image-wrapper | shadow-3">
                                        <img src="<%= require('../assets/img/salada-de-bife-grelhado-com-legumes.jpg') %>" alt="Salada de bife grelhado com legumes">
                                    </div>
                                    <div class="p-8">
                                        <h1 class="fs-500 text-primary-700 mb-4">Bife grelhado com legumes</h1>
                                        <p class="fs-300 mb-8">Um prato que satisfaz: bife suculento grelhado com legumes crocantes, uma refeição simples e deliciosa para qualquer ocasião.</p>
                                        <div class="flex-center gap-5">
                                            <a href="#" class="button">Escolher</a>
                                            <span class="fs-500 text-primary-500 mr-auto">R$30,00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="swiper-slide | bg-neutral-100 shadow-2">
                                <div class="even-columns flex-center">
                                    <div class="swiper-image-wrapper | shadow-3">
                                        <img src="<%= require('../assets/img/salada-de-salmao-com-verduras.jpg') %>" alt="Salada de salmão com verduras">
                                    </div>
                                    <div class="p-8">
                                        <h1 class="fs-500 text-primary-700 mb-4">Salada de salmão com verduras</h1>
                                        <p class="fs-300 mb-8">Uma salada leve e fresca: salmão defumado acompanhado de verduras crocantes, perfeita para uma refeição saudável e saborosa.</p>
                                        <div class="flex-center gap-5">
                                            <a href="#" class="button">Escolher</a>
                                            <span class="fs-500 text-primary-500 mr-auto">R$38,00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="swiper-slide | bg-neutral-100 shadow-2">
                                <div class="even-columns flex-center">
                                    <div class="swiper-image-wrapper | shadow-3">
                                        <img src="<%= require('../assets/img/salada-e-peito-de-frango-com-ovos.jpg') %>" alt="Salada e peito de frango com ovos">
                                    </div>
                                    <div class="p-8">
                                        <h1 class="fs-500 text-primary-700 mb-4">Salada e peito de frango com ovos</h1>
                                        <p class="fs-300 mb-8">Uma salada completa: peito de frango grelhado, ovos cozidos e verduras frescas, ideal para uma refeição leve e nutritiva.</p>
                                        <div class="flex-center gap-5">
                                            <a href="#" class="button">Escolher</a>
                                            <span class="fs-500 text-primary-500 mr-auto">R$28,00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                    <button class="dish-slider-button-next">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path d="m304 974-56-57 343-343-343-343 56-57 400 400-400 400Z"/></svg>
                    </button>
                </div>
        </section>


        <!-- DEPOIMENTOS -->
        <section id="testimonials">
            <div class="container">
                <div class="text-center">
                    <h1 class="text-primary-700 fs-600">O que nossos clientes dizem</h1>
                    <p class="text-neutral-500 mt-2 mx-auto">Palavras de quem confia em nosso trabalho</p>
                </div>

                <div class="testimonials-grid | mt-10">
                    <div class="testimonial--quote-open | bg-primary-600 text-neutral-100 shadow-2 p-5">
                        <div class="testimonial__inner">
                            <header class="testimonial__header | mb-3">
                                <img class="testimonial__image" data-src="<%= require('../assets/img/testimonial1.jpg') %>" alt="Sara Nascimento">
                                <h2 class="fs-400">Sara Nascimento</h2>
                            </header>
                            <p class="italic">A qualidade da comida da HealthBar é surpreendente. É a única empresa que conheço que trata com tanto profissionalismo e capricho os alimentos entregues aos clientes.</p>
                        </div>
                    </div>

                    <div class="testimonial | shadow-2 p-6">
                        <div class="testimonial__inner">
                            <header class="testimonial__header | mb-3">
                                <img class="testimonial__image" data-src="<%= require('../assets/img/testimonial2.jpg') %>" alt="Guilherme Cardoso">
                                <h2 class="fs-400">Guilherme Cardoso</h2>
                            </header>
                            <p class="italic">O que mais aprecio é o preço acessível do serviço para o acesso a pratos excepcionais que você prepara em casa.</p>
                        </div>
                    </div>

                    <div class="testimonial--quote-close | bg-accent-800 text-neutral-100 shadow-2 p-5">
                        <div class="testimonial__inner">
                            <header class="testimonial__header | mb-3">
                                <img class="testimonial__image" data-src="<%= require('../assets/img/testimonial3.jpg') %>" alt="Miriam Lopes">
                                <h2 class="fs-400">Miriam Lopes</h2>
                            </header>
                            <p class="italic">A HealthBar me inspirou em mudar meus hábitos alimentares para melhor. Gosto cada vez mais dos ingredientes disponíveis no cardápio e pretendo continuar aproveitando esse serviço incrível.</p>
                        </div>
                    </div>

                    <div class="testimonial | shadow-2 p-6">
                        <div class="testimonial__inner">
                            <header class="testimonial__header | mb-3">
                                <img class="testimonial__image" data-src="<%= require('../assets/img/testimonial4.jpg') %>" alt="Paulo Flasmo">
                                <h2 class="fs-400">Paulo Flasmo</h2>
                            </header>
                            <p class="italic">Os alimentos de alta qualidade que recebemos estimularam até meus filhos a comer legumes e verduras. Impressionante.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- CTA -->
        <section id="cta">
            <div class="text-center p-4">
                <h1 class="fs-600 text-neutral-100 mb-7">Tem interesse na nossa comida?</h1>
                <a href="#" class="button--light button--outline">Ver planos</a>
            </div>
        </section>
    </main>


    <!-- BOTÃO DE VOLTA AO TOPO -->
    <%= require('html-loader!../includes/back-to-top-button.html').default %>


     <!-- FOOTER -->
     <%= require('html-loader!../includes/footer.html').default %>


</body>
</html>