@use "../abstracts" as *;

.container {
    --container-padding: #{$size-4} * 2;
    --container-max-width: #{toRem(1024)};

    width: calc(100% - var(--container-padding));
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;

    &--sm {
        @extend .container;
        --container-max-width: #{toRem(640)};
    }

    &--lg {
        @extend .container;
        --container-max-width: #{toRem(1200)};
    }

    &--fluid {
        @extend .container;
        --container-max-width: 100%;
    }
}